:root {
  --lines-tweet-color: rgba(128, 128, 128, 0.219);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: rgb(33, 0, 124);
}

::-webkit-scrollbar {
  width: 0px;
}

.avatar-styles-tweet {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.avatar-styles-profile {
  width: 90px;
  object-fit: cover;
  position: absolute;
  bottom: -30px;
  left: 10px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  z-index: 100;
}

.right-container-home {
  background-color: var(--lines-tweet-color);
}

.border-tweet {
  border-top: solid;
  border-color: var(--lines-tweet-color);
}

.border-column-center {
  border-style: solid;
  border-color: var(--lines-tweet-color);
}

.border-column-center-profile {
  border-style: solid;
  border-color: var(--lines-tweet-color);
}

.background-blue {
  background-color: blue;
}

.color-blue {
  color: blue;
}

.button-tweet-icon {
  font-weight: 500;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  transition: all 0.4s ease-in-out;
}

.button-tweet-icon:hover {
  background-color: rgb(61, 61, 163);
}

.button-logout-icon {
  font-weight: 500;
  background-color: rgb(221, 46, 46);
  border: none;
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  transition: all 0.4s ease-in-out;
}

.button-logout-icon:hover {
  background-color: red;
}

.button-tweet-styles {
  font-weight: 500;
  background-color: blue;
  border: none;
  padding: 5px 30px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.button-tweet-styles:hover {
  background-color: rgb(59, 59, 146);
}

.button-logout-styles {
  width: 100% !important;
  font-weight: 500;
  background-color: rgb(221, 46, 46);
  border: none;
  padding: 5px 30px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.button-logout-styles:hover {
  background-color: red;
}

.nav-bar-left-col {
  height: 90vh;
  position: fixed;
}

.col-right-styles {
  position: fixed;
}

.cursor-pointer {
  cursor: pointer !important;
}
.div-followers-profile {
  width: 190px;
  height: 50px;
}

.profile-icon {
  font-size: 20px;
}

.col-left-login {
  padding: 20px !important;
}

.col-left-signup {
  padding: 20px !important;
}

.icon-modal-x {
  position: absolute;
  right: 24px;
  top: 10px;
}

.profile-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pencil-icon-profile {
  position: absolute;
  right: 19px;
  top: -5px;
}

@media (min-width: 991px) {
  .contenedor-principal {
    width: 750px;
  }
  .signup-container {
    width: 850px;
  }
}

@media (max-width: 991px) {
  .paragraph-left-col-login {
    font-size: 21px !important;
  }
  .paragraph-left-sign-up {
    font-size: 21px !important;
  }
  .paragraph-top-col-right {
    font-size: 20px;
  }
  .avatar-styles-profile {
    width: 70px;
  }
  .profile-poster {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .paragraph-left-col-login {
    font-size: 18px !important;
  }
  .paragraph-left-sign-up {
    font-size: 18px !important;
  }
  .col-left-login {
    padding: 20px !important;
  }
  .paragraph-top-col-right {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .col-left-signup {
    padding: 10px !important;
  }
  .div-followers-profile {
    width: 100px;
  }
  .border-column-center {
    border: none;
    border-left: 3px solid var(--lines-tweet-color);
  }
  
}

@media (max-width: 450px) {
  .col-left-signup {
    padding: 5px !important;
  }
  .profile-poster {
    height: 200px;
  }
  .avatar-styles-profile {
    width: 60px;
  }
  .col-left-padding {
    padding: 0px 10px;
  }
}

@media (max-width: 380px) {
  .profile-poster {
    height: 180px;
  }
   .col-left-padding {
    padding: 0px 5px;
  }
}
